@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --morado:#711c91;
  --celeste:#0abdc6;
  --rosa:#EA00d9;
  --azul:#133e7c;
  --azulmarino:#091833;
  --negro:#000000;
  --amarillo:#fbff00;
  --blanco:white;
  --gris: #3d3d3d;
}

body footer section div, body footer section, body footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0px;
  position: relative;
  min-height: 100vh;
}
body main {
  background-color: var(--negro);
  color: var(--blanco);
  margin: 0;
  padding: 20px;
}
body footer {
  background-color: var(--azulmarino);
  color: var(--blanco);
  margin: 0;
  padding: 20px;
  height: 100px;
  width: 100%;
}
body footer section {
  width: 100%;
  flex-direction: column;
}
body footer section .pfooter {
  font-size: 0.8rem;
  color: var(--blanco);
}
body footer section div {
  justify-content: space-evenly;
  flex-direction: row;
  width: 15%;
}
body footer section div .logo_instagram {
  width: 40px;
}
body footer section div .logo_facebook {
  height: 40px;
}
body footer section div .logo_youtube {
  width: 40px;
}
body a {
  color: var(--blanco);
  text-decoration: none;
}
body a:link {
  color: var(--blanco);
  text-decoration: none;
}
body a:visited {
  color: var(--blanco);
  text-decoration: none;
}
body a:hover {
  color: var(--amarillo);
  text-decoration: none;
}
body a:active {
  color: var(--celeste);
  text-decoration: none;
}
body .navbar {
  width: 100%;
  background-color: var(--celeste);
  font-size: 1.2rem;
}
body .navbar .navbar-nav.me-auto.mb-2.mb-lg-0 {
  width: 100%;
  justify-content: end;
}
body .navbar .navbar-nav.me-auto.mb-2.mb-lg-0 li {
  margin: 0 1%;
}
body .navbar .navbar-nav.me-auto.mb-2.mb-lg-0 li a {
  font-weight: bold;
  color: var(--blanco);
}
body .navbar .navbar-nav.me-auto.mb-2.mb-lg-0 li .boton_registro {
  background-color: var(--amarillo);
  padding: 5px 40px;
  color: var(--azulmarino);
  border-radius: 10px;
}
body .navbar .navbar-brand {
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1%;
}

@keyframes glitch {
  0% {
    transform: translate(0, 0);
    filter: contrast(1) brightness(1) saturate(1) hue-rotate(0deg);
    opacity: 1;
  }
  25% {
    transform: translate(-5px, -5px);
    filter: contrast(1.1) brightness(1.1) saturate(1.1) hue-rotate(0deg);
    opacity: 0.8;
  }
  40% {
    transform: translate(5px, 5px);
    filter: contrast(0) brightness(0) saturate(1) hue-rotate(0deg);
    opacity: 0;
  }
  50% {
    transform: translate(5px, 5px);
    filter: contrast(1.2) brightness(1.2) saturate(1.2) hue-rotate(180deg);
    opacity: 0.5;
  }
  75% {
    transform: translate(-5px, -5px);
    filter: contrast(1.1) brightness(1.1) saturate(1.1) hue-rotate(360deg);
    opacity: 0.8;
  }
  85% {
    transform: translate(5px, 5px);
    filter: contrast(0) brightness(0) saturate(1) hue-rotate(0deg);
    opacity: 0;
  }
  100% {
    transform: translate(0, 0);
    filter: contrast(1) brightness(1) saturate(1) hue-rotate(0deg);
    opacity: 1;
  }
}
body .evento_index, body .introduccion_papa {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .introduccion_papa {
  flex-direction: row;
  font-size: 1.15rem;
  text-align: justify;
  width: 80%;
  margin: 5% 10%;
  padding: 0px;
  background-color: var(--gris);
}
body .introduccion_papa .introduccion_hijo_0 {
  display: flex;
  flex-direction: column;
  flex: 0.6;
  padding: 3%;
  font-weight: bold;
}
body .introduccion_papa .introduccion_hijo_0 .introduccion_hijo_1 {
  margin: 2% 0%;
  font-size: 1.7rem;
}
body .introduccion_papa .introduccion_hijo_0 .introduccion_hijo_2 {
  line-height: 45px;
  font-size: 1.2rem;
}
body .introduccion_papa .introduccion_hijo_3 {
  flex: 0.4;
}
body .introduccion_papa .introduccion_hijo_3 img {
  width: 100%;
  object-fit: contain;
}
body .evento_index {
  width: 100%;
  margin-bottom: 5%;
}
body .evento_index a {
  text-align: center;
  width: 380px;
  font-size: 1.7rem;
  border-radius: 30px;
  background-color: var(--morado);
  padding: 20px;
}
body .evento_index a:hover {
  background-color: var(--rosa);
}
body .textos_index_bajo {
  display: flex;
  flex-direction: row;
  height: 618px;
  justify-content: space-evenly;
  padding: 0px;
  width: 100%;
  text-align: center;
}
body .textos_index_bajo h3 {
  font-size: 5rem;
  margin-top: 7.5%;
}
body .textos_index_bajo .texto_gaming1 {
  color: var(--azulmarino);
  background-image: url(../elementos/index_gamer_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  margin-right: 5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
body .textos_index_bajo .texto_gaming1:hover {
  animation: glitch 1.5s infinite;
}
body .textos_index_bajo .texto_gaming2 {
  color: var(--amarillo);
  background-image: url(../elementos/index_dj_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  margin-right: 5%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .textos_index_bajo .texto_gaming2:hover {
  animation: glitch 1.5s infinite;
}
body .textos_index_bajo .texto_gaming3 {
  color: var(--blanco);
  background-image: url(../elementos/index_expo_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .textos_index_bajo .texto_gaming3:hover {
  animation: glitch 1.5s infinite;
}

body .caja_marcas, body .caja_logos, body .textos_eventos_bajo .texto_evento3, body .textos_eventos_bajo .texto_evento2, body .textos_eventos_bajo .texto_evento1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .banner_evento {
  background-image: url(../elementos/evento_banner.png);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--celeste);
  height: 537px;
  justify-content: center;
  padding-left: 5%;
}
body .banner_evento h2 {
  font-size: 4rem;
}
body h2.titulo_evento2 {
  width: 25%;
  color: var(--blanco);
  font-size: 3rem;
}
body .parrafo1_evento {
  font-size: 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 5%;
  text-align: justify;
}
body .textos_eventos_bajo {
  display: flex;
  flex-direction: row;
  height: 660px;
  justify-content: space-evenly;
  padding: 0px;
  width: 100%;
  text-align: center;
}
body .textos_eventos_bajo h3 {
  flex: 1;
  display: flex;
  align-items: start;
  justify-content: center;
  font-size: 3.5rem;
  padding: 5%;
}
body .textos_eventos_bajo h3.segundo_texto {
  align-items: end;
  font-size: 1.5rem;
  padding: 5% 2%;
  max-width: 460px;
}
body .textos_eventos_bajo h3.primer_texto {
  padding: 10%;
}
body .textos_eventos_bajo h3.tercer_texto {
  padding: 2%;
}
body .textos_eventos_bajo .texto_evento1 {
  flex-direction: column;
  color: var(--blanco);
  background-image: url(../elementos/evento_expo_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .textos_eventos_bajo .texto_evento2 {
  flex-direction: column;
  color: var(--amarillo);
  background-image: url(../elementos/eventos_gamer_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .textos_eventos_bajo .texto_evento3 {
  flex-direction: column;
  color: var(--azulmarino);
  background-image: url(../elementos/evento_dj_person.jpg);
  flex: 1;
  padding: 0px 0px 0px 0px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
body .titulo_equipos h3 {
  font-size: 1.5rem;
  margin: 3%;
  margin-left: 5%;
}
body .caja_logos {
  flex: 1;
  align-content: space-evenly;
}
body .caja_logos .logo_vitality {
  width: 9.2%;
  margin: 2%;
}
body .caja_logos .logo_falcons {
  width: 9.5%;
  margin: 2%;
}
body .caja_logos .logo_g2 {
  width: 9.8%;
  margin: 2%;
}
body .caja_logos .logo_furia {
  width: 10%;
  margin: 2%;
}
body .caja_marcas {
  flex: 1;
  align-content: space-evenly;
  margin-top: 2%;
}
body .caja_marcas .amd_logo {
  width: 12%;
  margin: 2%;
}
body .caja_marcas .aorus_logo {
  width: 18%;
  margin: 2%;
}
body .caja_marcas .msi_logo {
  width: 15%;
  margin: 2%;
}
body .movistar_map {
  display: flex;
  flex: 1;
  justify-content: center;
}
body .movistar_map .movistar_arena {
  width: 40%;
}
body .movistar_map .movistar_mapa {
  width: 40%;
}

body .banner_esports {
  background-image: url(../elementos/esports_banner.png);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--celeste);
  height: 537px;
  justify-content: center;
  padding-left: 5%;
}
body .banner_esports h2 {
  font-size: 4rem;
}
body .banner_esports h2.titulo_evento2 {
  font-size: 3rem;
}
body .esports_titulo {
  margin: 5%;
}
body h2.esports_titulo2 {
  width: 25%;
  color: var(--blanco);
  font-size: 3rem;
}
body h2.esports_titulo {
  font-size: 2.3rem;
}
body h2.esports_titulo2 {
  font-size: 2rem;
  margin: 5%;
}
body .parrafo_esports {
  margin: 5%;
  font-size: 1.6rem;
}
body .vitality_papa {
  display: flex;
  flex-direction: row-reverse;
  margin: 5%;
}
body .vitality_papa .vitality_hijo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 50%;
  background-color: var(--gris);
  padding: 3%;
  text-align: justify;
  justify-content: center;
}
body .vitality_papa .vitality_hijo1 p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 40px;
}
body .vitality_papa .vitality_hijo1 h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  justify-content: start;
}
body .vitality_papa .vitality_hijo4 {
  flex: 1;
  max-width: 50%;
}
body .vitality_papa .vitality_hijo4 img {
  width: 100%;
  object-fit: contain;
}
body .falcons_papa {
  display: flex;
  flex-direction: row;
  margin: 5%;
}
body .falcons_papa .falcons_hijo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--gris);
  padding: 3%;
  text-align: justify;
  justify-content: center;
  max-width: 50%;
}
body .falcons_papa .falcons_hijo1 p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 40px;
}
body .falcons_papa .falcons_hijo1 h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  justify-content: start;
}
body .falcons_papa .falcons_hijo4 {
  flex: 1;
  max-width: 50%;
}
body .falcons_papa .falcons_hijo4 img {
  width: 100%;
  object-fit: contain;
}
body .g2_papa {
  display: flex;
  flex-direction: row-reverse;
  margin: 5%;
}
body .g2_papa .g2_hijo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--gris);
  padding: 3%;
  text-align: justify;
  justify-content: center;
  max-width: 50%;
}
body .g2_papa .g2_hijo1 p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 40px;
}
body .g2_papa .g2_hijo1 h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  justify-content: start;
}
body .g2_papa .g2_hijo4 {
  flex: 1;
  max-width: 50%;
}
body .g2_papa .g2_hijo4 img {
  width: 100%;
  object-fit: contain;
}
body .furia_papa {
  display: flex;
  flex-direction: row;
  margin: 5%;
}
body .furia_papa .furia_hijo1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: var(--gris);
  padding: 3%;
  text-align: justify;
  justify-content: center;
  max-width: 50%;
}
body .furia_papa .furia_hijo1 p {
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 40px;
}
body .furia_papa .furia_hijo1 h3 {
  font-size: 2.5rem;
  font-weight: bolder;
  justify-content: start;
}
body .furia_papa .furia_hijo4 {
  flex: 1;
  max-width: 50%;
}
body .furia_papa .furia_hijo4 img {
  width: 100%;
  object-fit: contain;
}

body .banner_artistas {
  background-image: url(../elementos/artistas_banner.png);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--amarillo);
  height: 537px;
  justify-content: center;
  padding-left: 5%;
  background-size: cover;
}
body .banner_artistas h2 {
  font-size: 4rem;
}
body .banner_artistas h2.titulo_artista2 {
  width: 25%;
  color: var(--blanco);
  font-size: 3rem;
}
body .artistas_introduccion {
  display: flex;
  flex-direction: column;
  margin: 5%;
}
body .artistas_introduccion h2 {
  font-size: 2.3rem;
  padding-top: 2%;
}
body .artistas_introduccion .parrafo_artistas {
  font-size: 1.5rem;
}
body .caja_papa_artistas {
  display: flex;
  flex-direction: row;
  width: 90%;
  justify-content: space-evenly;
  align-items: center;
  gap: 3%;
  margin: 1% 5% 5% 5%;
  text-align: center;
}
body .caja_papa_artistas .caja_themidnght {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
body .caja_papa_artistas .caja_themidnght .the_midnight {
  width: 100%;
}
body .caja_papa_artistas .caja_themidnght .the_midnight_spotify {
  height: 500px;
}
body .caja_papa_artistas .caja_mcrocklin_and_hutch {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
body .caja_papa_artistas .caja_mcrocklin_and_hutch .mcrocklin_and_hutch {
  width: 100%;
}
body .caja_papa_artistas .caja_mcrocklin_and_hutch .mcrocklin_and_hutch_spotify {
  height: 500px;
}
body .caja_papa_artistas .caja_tonebox {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
body .caja_papa_artistas .caja_tonebox .tonebox {
  width: 100%;
}
body .caja_papa_artistas .caja_tonebox .tonebox_spotify {
  height: 500px;
}

body .papa_registro {
  display: flex;
  justify-content: center;
  align-items: center;
}

body .banner_registro {
  background-image: url(../elementos/registro_banner.png);
  display: flex;
  flex-direction: column;
  width: 100%;
  color: var(--celeste);
  height: 537px;
  justify-content: center;
  padding-left: 5%;
  background-size: cover;
}
body .banner_registro h2 {
  font-size: 4rem;
}
body .banner_registro .titulo_registro2 {
  width: 50%;
  color: var(--blanco);
  font-size: 3rem;
}
body .papa_registro {
  flex-direction: row;
  flex: 1;
  padding: 1%;
}
body .papa_registro .hijo_registro1 {
  display: flex;
  flex-direction: column;
  flex: 0.5;
}
body .papa_registro .hijo_registro1 form div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3%;
  font-size: 1.5rem;
}
body .papa_registro .hijo_registro1 form div label {
  width: 40%;
}
body .papa_registro .hijo_registro1 form .registro_submit input {
  background-color: var(--amarillo);
  padding: 5px 40px;
  color: var(--azulmarino);
  border-radius: 10px;
  font-weight: bold;
}
body .papa_registro .hijo_registro2 {
  flex: 0.3;
}
body .papa_registro .hijo_registro2 img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
  filter: drop-shadow(0px 5px 15px var(--morado));
}

@media (max-width: 550px) {
  body main {
    min-height: 75vh;
  }
  body footer section div {
    width: 60%;
  }
  body .introduccion_papa {
    flex-direction: column;
  }
  body .introduccion_hijo_1 h2 {
    font-size: 1.1rem;
    text-align: center;
  }
  body .introduccion_hijo_2 p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  body .evento_index a {
    width: 60%;
    padding: 5px;
    font-size: 1.2rem;
  }
  body .textos_index_bajo {
    flex-direction: column;
    height: 1980px;
  }
  body .texto_gaming1 {
    margin-right: 0%;
    margin-bottom: 10px;
  }
  body .texto_gaming2 {
    margin-right: 0%;
    margin-bottom: 10px;
  }
  body .textos_index_bajo h3 {
    font-size: 4rem;
    margin-top: 20%;
  }
  body .banner_evento {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
  }
  body .banner_evento h2 {
    font-size: 1rem;
    width: 40%;
  }
  body h2.titulo_evento2 {
    font-size: 1rem;
  }
  body .parrafo1_evento {
    font-size: 1rem;
  }
  body .textos_eventos_bajo {
    flex-direction: column;
    height: 1980px;
  }
  body .textos_eventos_bajo h3 {
    font-size: 3rem;
    margin-top: 15%;
  }
  body .textos_eventos_bajo h3.segundo_texto {
    font-size: 1.5rem;
    margin-bottom: 15%;
    padding: 1%;
  }
  body h3.primer_texto {
    padding: 7%;
  }
  body .titulo_equipos {
    text-align: center;
  }
  body .titulo_equipos h3 {
    font-size: 1.2rem;
  }
  body .movistar_arena {
    width: 50%;
  }
  body .movistar_mapa {
    width: 50%;
  }
  body .banner_esports {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
  }
  body .banner_esports h2.titulo_evento2, body .banner_esports h2 {
    font-size: 1rem;
    width: 40%;
  }
  body .vitality_papa {
    flex-direction: column-reverse;
  }
  body .vitality_papa .vitality_hijo4 {
    max-width: 100%;
  }
  body .vitality_papa .vitality_hijo1 {
    max-width: 100%;
  }
  body .falcons_papa {
    flex-direction: column-reverse;
  }
  body .falcons_papa .falcons_hijo4 {
    max-width: 100%;
  }
  body .falcons_papa .falcons_hijo1 {
    max-width: 100%;
  }
  body .g2_papa {
    flex-direction: column-reverse;
  }
  body .g2_papa .g2_hijo4 {
    max-width: 100%;
  }
  body .g2_papa .g2_hijo1 {
    max-width: 100%;
  }
  body .furia_papa {
    flex-direction: column-reverse;
  }
  body .furia_papa .furia_hijo1 {
    max-width: 100%;
  }
  body .furia_papa .furia_hijo4 {
    max-width: 100%;
  }
  body h2.esports_titulo {
    font-size: 1.5rem;
  }
  body .parrafo_esports {
    font-size: 1rem;
  }
  body h2.esports_titulo2 {
    font-size: 1.7rem;
    width: 75%;
  }
  body .vitality_papa .vitality_hijo1 h3 {
    font-size: 1.3rem;
  }
  body .vitality_papa .vitality_hijo1 p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  body .falcons_papa .falcons_hijo1 h3 {
    font-size: 1.3rem;
  }
  body .falcons_papa .falcons_hijo1 p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  body .g2_papa .g2_hijo1 h3 {
    font-size: 1.3rem;
  }
  body .g2_papa .g2_hijo1 p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  body .furia_papa .furia_hijo1 h3 {
    font-size: 1.3rem;
  }
  body .furia_papa .furia_hijo1 p {
    font-size: 0.8rem;
    line-height: 30px;
  }
  body .banner_artistas {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
  }
  body .banner_artistas h2.titulo_artista2, body .banner_artistas h2 {
    font-size: 1rem;
    width: 40%;
  }
  body .parrafo_artistas {
    font-size: 1rem;
    text-align: justify;
  }
  body .artistas_introduccion h2 {
    font-size: 1.5rem;
    padding-top: 2%;
  }
  body .caja_papa_artistas {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  body .banner_registro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
  }
  body .banner_registro .titulo_registro2, body .banner_registro h2 {
    font-size: 1rem;
    width: 40%;
  }
  body .papa_registro .hijo_registro1 {
    flex: 0.8;
  }
  body .papa_registro .hijo_registro1 form div {
    font-size: 0.8rem;
  }
  body .papa_registro .hijo_registro2 {
    display: none;
  }
}
@media (min-width: 551px) and (max-width: 1350px) {
  body .textos_index_bajo {
    flex-direction: column;
    height: 1980px;
  }
  body .textos_index_bajo .texto_gaming1 {
    margin-right: 0%;
    margin-bottom: 10px;
  }
  body .textos_index_bajo .texto_gaming2 {
    margin-right: 0%;
    margin-bottom: 10px;
  }
  body .introduccion_papa {
    flex-direction: column;
  }
  body .textos_eventos_bajo {
    flex-direction: column;
    height: 1980px;
  }
  body .banner_evento {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
  }
  body .banner_evento h2 {
    font-size: 4vw;
  }
  body h2.titulo_evento2 {
    width: 50vw;
    font-size: 3vw;
  }
  body .segundo_texto {
    max-width: 460px;
  }
  body .textos_eventos_bajo h3.segundo_texto {
    padding: 5% 2%;
  }
  body .textos_eventos_bajo h3.tercer_texto {
    padding: 2%;
  }
  body .banner_esports {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
  }
  body .banner_esports h2 {
    font-size: 4vw;
  }
  body .banner_esports h2.titulo_evento2 {
    width: 50vw;
    font-size: 3vw;
  }
  body .vitality_papa {
    flex-direction: column-reverse;
  }
  body .vitality_papa .vitality_hijo4 {
    max-width: 100%;
  }
  body .vitality_papa .vitality_hijo1 {
    max-width: 100%;
  }
  body .falcons_papa {
    flex-direction: column-reverse;
  }
  body .falcons_papa .falcons_hijo4 {
    max-width: 100%;
  }
  body .falcons_papa .falcons_hijo1 {
    max-width: 100%;
  }
  body .g2_papa {
    flex-direction: column-reverse;
  }
  body .g2_papa .g2_hijo4 {
    max-width: 100%;
  }
  body .g2_papa .g2_hijo1 {
    max-width: 100%;
  }
  body .furia_papa {
    flex-direction: column-reverse;
  }
  body .furia_papa .furia_hijo1 {
    max-width: 100%;
  }
  body .furia_papa .furia_hijo4 {
    max-width: 100%;
  }
  body h2.esports_titulo2 {
    width: 70%;
  }
  body .banner_artistas {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
  }
  body .banner_artistas h2 {
    font-size: 4vw;
  }
  body .banner_artistas h2.titulo_artista2 {
    width: 50vw;
    font-size: 3vw;
  }
  body .caja_papa_artistas {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  body main {
    min-height: 80vh;
  }
  body .banner_registro {
    background-repeat: no-repeat;
    background-size: cover;
    height: 25vw;
  }
  body .banner_registro h2 {
    font-size: 4vw;
  }
  body .banner_registro h2.titulo_registro2 {
    width: 50vw;
    font-size: 3vw;
  }
  body .papa_registro .hijo_registro2 {
    display: none;
  }
  body .papa_registro .hijo_registro1 form div {
    font-size: calc(1vw + 1vh);
  }
  body .papa_registro .hijo_registro1 {
    flex: 0.8;
  }
}

/*# sourceMappingURL=style.css.map */
