
%flex_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    //banner
    .banner_evento{
        background-image: url(../elementos/evento_banner.png);
        display: flex;
        flex-direction: column;
        width: 100%;
        color: var(--celeste);
        height: 537px;
        justify-content: center;
        padding-left: 5%;
        h2{
            font-size: 4rem;
        }
    }
    h2.titulo_evento2{
        width: 25%;
        color: var(--blanco);
        font-size: 3rem;
    }
    //PARTE1
    .parrafo1_evento{
        font-size: 1.5rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5%;
        text-align: justify;
    }
    .textos_eventos_bajo{
        display: flex;
        flex-direction: row;
        height: 660px;
        justify-content: space-evenly;
        padding: 0px;
        width: 100%;
        text-align: center;
        h3{
            flex: 1;
            display: flex;
            align-items: start;
            justify-content: center;
            font-size: 3.5rem;
            padding: 5%;
        }
        h3.segundo_texto{
            align-items: end;
            font-size: 1.5rem;
            padding: 5% 15%;
            width: 90%;
        }
        h3.primer_texto{
            padding: 10%;
        }
        h3.tercer_texto{
            padding: 2% 15%;
        }
        .texto_evento1{
            @extend %flex_container;
            flex-direction: column;
            color: var(--blanco);
            background-image: url(../elementos/evento_expo_person.jpg);
            flex: 1;
            padding: 0px 0px 0px 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .texto_evento2{
            @extend %flex_container;
            flex-direction: column;
            color: var(--amarillo);
            background-image: url(../elementos/eventos_gamer_person.jpg);
            flex: 1;
            padding: 0px 0px 0px 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
        .texto_evento3{
            @extend %flex_container;
            flex-direction: column;
            color: var(--azulmarino);
            background-image: url(../elementos/evento_dj_person.jpg);
            flex: 1;
            padding: 0px 0px 0px 0px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
        }
    }
    //PARTE 2
    .titulo_equipos h3{
        font-size: 1.5rem;
        margin: 3%;
        margin-left: 5%;
    }
    .caja_logos{
        @extend %flex_container;
        flex: 1;
        align-content: space-evenly;
        .logo_vitality{
            width: 9.2%;
            margin: 2%;   
        }
        .logo_falcons{
            width: 9.5%;
            margin: 2%;   
        }
        .logo_g2{
            width: 9.8%;
            margin: 2%;
        }
        .logo_furia{
            width: 10%;
            margin: 2%;
        }
    }
    //PARTE 3
    .caja_marcas{
        @extend %flex_container;
        flex: 1;
        align-content: space-evenly;
        margin-top: 2%;
        .amd_logo{
            width: 12%;
            margin: 2%;
        }
        .aorus_logo{
            width: 18%;
            margin: 2%;
        }
        .msi_logo{
            width: 15%;
            margin: 2%;
        }
    }
    //PARTE 4
    .movistar_map{
         display: flex;
         flex: 1;
        justify-content: center;
        .movistar_arena{
            width: 40%;
        }
        .movistar_mapa{
            width: 40%;
        }
    }
}