@media (max-width: 480px) {

body{
 
main{
    min-height: 70vh;
}


/*********** FOOTER **************/

footer section div{
    width: 60%;
}


/*********** INDEX **************/

.introduccion_papa{
    flex-direction: column;
}

.introduccion_hijo_1 h2{
    font-size: 1.1rem;
    text-align: center;
}

.introduccion_hijo_2 p{
    font-size: 0.8rem;
    line-height: 30px;
}

.evento_index a{
    width: 60%;
    padding: 5px;
    font-size: 1.2rem;
}

.textos_index_bajo{
    flex-direction: column;
    height: 1980px;
}

.texto_gaming1{
    margin-right: 0%;
    margin-bottom: 10px;
}

.texto_gaming2{
    margin-right: 0%;
    margin-bottom: 10px;
}

.textos_index_bajo h3{
    font-size: 4rem;
    margin-top: 20%;
}


/*********** EVENTO **************/


.banner_evento{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.banner_evento h2{
    font-size: 1rem;
    width: 40%;
}

h2.titulo_evento2{
    font-size: 1rem;
}

.parrafo1_evento{
    font-size: 1rem;
}


.textos_eventos_bajo{
    flex-direction: column;
    height: 1980px;
}

.textos_eventos_bajo h3{
    font-size: 3rem;
    margin-top: 15%;
}

.textos_eventos_bajo h3.segundo_texto{
    font-size: 1.5rem;
    margin-bottom: 15%;
    padding: 1%;
}

h3.primer_texto{
    padding: 7%;
}

.titulo_equipos{
    text-align: center;
}

.titulo_equipos h3{
    font-size: 1.2rem;
}

.movistar_arena{
    width: 50%;
}

.movistar_mapa{
    width: 50%;
}


/*********** E-SPORTS **************/

.banner_esports{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.banner_esports h2.titulo_evento2, .banner_esports h2{
    font-size: 1rem;
    width: 40%;
}


.vitality_papa{
    flex-direction: column-reverse;
}

.vitality_papa .vitality_hijo4{
    max-width: 100%;
}

.vitality_papa .vitality_hijo1{
    max-width: 100%;
}

.falcons_papa{
    flex-direction: column-reverse;
}

.falcons_papa .falcons_hijo4{
    max-width: 100%;
}


.falcons_papa .falcons_hijo1{
    max-width: 100%;
}

.g2_papa{
    flex-direction: column-reverse;
}

.g2_papa .g2_hijo4{
    max-width: 100%;
}


.g2_papa .g2_hijo1{
    max-width: 100%;
}

.furia_papa{
    flex-direction: column-reverse;
}

.furia_papa .furia_hijo1{
    max-width: 100%;
}

.furia_papa .furia_hijo4{
    max-width: 100%;
}

h2.esports_titulo{
    font-size: 1.5rem;  
}


.parrafo_esports{
    font-size: 1rem;
}


h2.esports_titulo2{
    font-size: 1.7rem;
    width: 75%;
}

.vitality_papa .vitality_hijo1 h3{
    font-size: 1.3rem;
}


.vitality_papa .vitality_hijo1 p{
    font-size: 0.8rem;
    line-height: 30px;
}

.falcons_papa .falcons_hijo1 h3{
    font-size: 1.3rem;
}

.falcons_papa .falcons_hijo1 p{
    font-size: 0.8rem;
    line-height: 30px;
}

.g2_papa .g2_hijo1 h3{
    font-size: 1.3rem;
}

.g2_papa .g2_hijo1 p{
    font-size: 0.8rem;
    line-height: 30px;
}

.furia_papa .furia_hijo1 h3{
    font-size: 1.3rem;
}

.furia_papa .furia_hijo1 p{
    font-size: 0.8rem;
    line-height: 30px;
}


/*********** ARTISTAS **************/


/* ------------------- BANNER ---------------------- */


.banner_artistas{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.banner_artistas h2.titulo_artista2, .banner_artistas h2{
    font-size: 1rem;
    width: 40%;
}

/* ------------------- PARTE 1 ---------------------- */

.parrafo_artistas{
    font-size: 1rem;
    text-align: justify;
}

.artistas_introduccion h2{
    font-size: 1.5rem;
    padding-top: 2%;
}

/* ------------------- PARTE 2 / CAJAS ARTISTAS ---------------------- */

.caja_papa_artistas{
    display: flex;
    flex-direction: column;
    gap: 30px;

}

/* ------------------- REGISTRO---------------------- */

.banner_registro{
    background-repeat: no-repeat;
    background-size: cover;
    height: 120px;
}

.banner_registro .titulo_registro2, .banner_registro h2{
    font-size: 1rem;
    width: 40%;
}

.papa_registro .hijo_registro1{
    flex: 0.8;
}

.papa_registro .hijo_registro1 form div{
    font-size: 0.8rem;
}


.papa_registro .hijo_registro2{
    display: none;
}

}


}